NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Auth
HEAVEN_JWT_SECRET=

# SQWENSY OS Tunnel
SQWENSY_OS_API_URL=https://sqwensy.com
SQWENSY_TUNNEL_KEY=
